/*global styles*/
html {
    background: #e6e9e9;
}

body {
    background: #fff;
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2em 2em 4em;
}

* {
    box-sizing: border-box;
}

a:hover, a:visited, a:link, a:active, a:focus {
    text-decoration: none;
    border: none;
}

/*common classes*/
.buffer-top {
    margin-top: 20px;
}

/*menu*/
.menu {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 450px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}

.menu-animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

.menu-item {
    width: 150px;
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

    .menu-item:focus {
        outline: none;
    }

    .menu-item:nth-child(1):hover ~ .menu-animation {
        width: 150px;
        left: 0;
        background-color: #1abc9c;
    }

    .menu-item:nth-child(2):hover ~ .menu-animation {
        width: 150px;
        left: 150px;
        background-color: #3498db;
    }

    .menu-item:nth-child(3):hover ~ .menu-animation {
        width: 150px;
        left: 300px;
        background-color: #957DAD;
    }

.selected-menu-item {
    background-color: #c22231;
    border-radius: 8px;
}

/*cards*/
.card-grid {
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    padding: 5%;
    box-shadow: 6px 6px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

    .card:hover {
        box-shadow: 0 0 6px 6px rgba(0,0,0,0.2);
    }

.card-head {
    color: #0083e8;
    text-align: justify;
    text-justify: inter-word;
}

.card-image {
    display: block;
    margin: 1em auto;
    max-width: 50%;
    height: auto;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.card-body {
    text-align: justify;
    text-justify: inter-word;
    font-size: 13px;
    line-height: 1.5;
    margin: 1em auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .card-body:hover {
        overflow: visible;
        white-space: normal;
    }
